<!DOCTYPE html>
<html>
    <head>
        <title>ECLEAN</title>
    </head>

    <body>
        <div>Microblog: <a href="/index">Home</a></div>

{#        <h1>Find a book</h1>#}
{#        <form action="" method="post" novalidate>#}
{#            {{ form.hidden_tag() }}#}
{#            <p>#}
{#                {{ form.username.label }}<br>#}
{#                {{ form.username(size=32) }}#}
{##}
{#            <p>{{ form.submit() }}</p>#}
{##}
{#        </form>#}
{##}
{#        <hr>#}

        {{ input }}
        <br>
        API list: <br>
        https://soclean-backend.herokuapp.com/api/add_order <br>
        https://soclean-backend.herokuapp.com/api/get_order <br>
        https://soclean-backend.herokuapp.com/api/get_worker <br>
        https://soclean-backend.herokuapp.com/api/update_schedule <br>
        https://soclean-backend.herokuapp.com/api/delete_all_schedules <br>
        https://soclean-backend.herokuapp.com/api/get_schedule <br>
        https://soclean-backend.herokuapp.com/api/use_schedule <br>
        https://soclean-backend.herokuapp.com/api/worker/get_unfinished_order <br>
        https://soclean-backend.herokuapp.com/api/worker/get_finished_order <br>

        {% block content %}
        {% endblock %}

    </body>
</html>